:root { 
--blue_gray_100_00:#d4d4d400; 
--gray_200_7c:#ededed7c; 
--gray_800_02:#3e3636; 
--gray_800_01:#4e4e4e; 
--gray_500_87:#90909087; 
--black_900:#000000; 
--gray_500_01:#909090; 
--yellow_900:#f97316; 
--gray_200_84:#ececec84; 
--gray_500_03:#a6a6a6; 
--black_900_07:#00000007; 
--blue_gray_900_02:#353333; 
--blue_gray_900_01:#333333; 
--gray_500_02:#9c9c9c; 
--blue_gray_900:#313131; 
--gray_500_04:#a7a7a7; 
--deep_orange_A400:#f73308; 
--black_900_26:#00000026; 
--gray_700:#666666; 
--orange_A200:#f5993c; 
--gray_500:#999999; 
--amber_400:#ffc728; 
--gray_800:#4f4f4f; 
--gray_900:#121212; 
--gray_900_01:#191a15; 
--orange_900:#d64d00; 
--orange_A200_01:#fb923c; 
--black_900_0c:#0000000c; 
--gray_200:#ebebeb; 
--orange_300:#f2a156; 
--gray_100:#f5f5f5; 
--white_A700_00:#ffffff00; 
--gray_100_02:#f6f6f6; 
--black_900_cc:#000000cc; 
--gray_100_01:#f4f3f3; 
--white_A700:#ffffff; 
}